button{
    background-color: burlywood;
    border-style: none;
    border-radius: none;
    background: none;


}
#pealkiri{font-family: 'ZCOOL KuaiLe', cursive;
animation: epic 4s; 
animation-iteration-count: infinite;}
.nupud{
    display: flex;

}
.sotsiaalmeedia{
    margin-left: 3rem;
}
#ig,#t,#f{
    padding: 1rem;
    margin: 0.25rem;
    border-style: solid;
    border-color: black;
    border-radius: 4rem;
}
.hinnakiri .hinna,.Bron .bron{
    font-size: 1.5rem;
    font-family:fantasy;
    text-decoration: none;
}

.galerii{
    padding: 1rem;
    width: 17rem;
    height: 13rem;
    border: solid;
    border-color: black;
}
.main{
    display: flex;
}
.info{
    margin: 1rem 0 0 2rem;
    
}
.info h3{
    text-align: center;
}

.guugu{
    width: 15rem;
}

@keyframes epic{
    0%{color:black;}
    20%{color: green;}
    40%{color: red;}
    60%{color: blue;}
    80%{color: lightblue;}
    100%{color: black;}

}

